h1 {
  font-family: 'Roboto', sans-serif;
  color: #76cc8a;
}

p, a {
  font-family: 'Lora', serif;
  color: #a2a6b5;
}

a {
  text-decoration: none;
}

img {
  width: 120px;
  height:  120px;
  border-radius: 50%;
}

li {
  list-style: none;
  font-size: 32px;
  display: inline;
  margin: 12px;
}

ul {
  padding: 0px;
}

/*Custom design*/

/*classes*/

.container {
  width: 700px;
  margin: 0 auto;
}

.btn-blue {
  background-color: #6b71e1;
  border: 1px solid #6b71e1;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
}

.btn-blue:hover {
  background-color: white;
  color: #6b71e1;
  transition: 0.7s;
}

.card-white {
  background-color: white;
  border-radius: 6px;
  border: solid 1px black;
  margin: 30px;
  padding: 16px;
  text-align: center;
}

/*Id*/

#btn-red {
  background-color: red;
  border: 1px solid red;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
}

#btn-red:hover {
  background-color: white;
  color: red;
  transition: 0.7s;
}







